<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ECCI_HolaMundoBinding" allowCookies="true"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://titanic.ecci.ucr.ac.cr:80/~eb30640/JuegoAhorcadoService/"
                binding="basicHttpBinding" bindingConfiguration="ECCI_HolaMundoBinding"
                contract="ECCI.ECCI_HolaMundoPort" name="ECCI_HolaMundoPort" />
        </client>
    </system.serviceModel>
</configuration>