<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ECCI_HolaMundoBinding" allowCookies="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://titanic.ecci.ucr.ac.cr:80/~eb30640/JuegoAhorcadoService/"
                binding="basicHttpBinding" bindingConfiguration="ECCI_HolaMundoBinding"
                contract="ECCI_Test.ECCI_HolaMundoPort" name="ECCI_HolaMundoPort" />
        </client>
    </system.serviceModel>
</configuration>